*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.google.com/specimen/Barlow');
@import url('https://fonts.google.com/specimen/Fraunces');

body{
    line-height: 1.2;
    font-size: 16px;
}
h2{
    font-weight: 900;
   }
p, h6 {
       margin-top: 10px;
       color: hsl(210, 4%, 67%);
       font-family: 'Barlow', sans-serif;
}
h4{
    margin-top: 20px;
}
.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.header #icon-arrow-down{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.nav{
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
.nav-bar img{
    padding: 10px;
}
.nav-bar ul{
    display: flex;
    position: relative;
}
.nav-bar ul li{
    list-style: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.nav-bar ul li:nth-child(4){
    border: 1px solid #fff;
    border-radius: 25px;
    background: #fff;
    color: black;
    text-align: center;
}
.nav-bar ul li:nth-child(4):active{
    background-color: hsl(210, 4%, 67%);
}
.nav-bar .mobile{
    position: relative;
    display: none;
}
.nav-bar .mobile .menu{
    line-height: 2.2;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 25px;
    margin: 10px;
    height: 50vh;
    width: 250px;
    position: absolute;
    top: 75%;
    right: 90%;
    padding:20px;
    margin-top: 20px;
    z-index: 2;
}
.nav-bar .mobile .menu ul {
    position: relative;
    left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-bar .mobile .menu ul li{
    color: hsl(210, 4%, 67%);
    align-items: center;
    text-align: center;
}
.nav-bar .mobile .menu ul li:nth-child(4){
    border: 1px solid #fff;
    border-radius: 25px;
    background: hsl(51, 100%, 49%);
    color: black;
    text-align: center;
    font-family: 'Fraunces';
}
.header .main h1{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.boxes{
    display: flex;
    width: 100%;
}
.box-1{
    text-align: center;
    padding: 50px;
    margin: auto;
    object-fit: contain;
}
.box-2{ 
    height: auto;
    object-fit: contain;
}
.boxes .box-2 .mobile{
    display: none;
}
.btn{
    margin-top: 20px;
    border: 0;
    text-decoration: underline;
    text-decoration-color: hsl(51, 100%, 49%);
    text-decoration-thickness: 4px;
    background-color: #fff;
    font-weight: 700;
    font-family: 'Fraunces', sans-serif;
    cursor: pointer;
}
.boxes-2{
    display: flex;
    width: 100%;
}
.boxes-2 .btn{
    margin-top: 20px;
    border: 0;
    text-decoration: underline;
    text-decoration-color: hsl(7, 99%, 70%);
    text-decoration-thickness: 4px;
    background-color: #fff;
    font-weight: 700;
    font-family: 'Fraunces', sans-serif;
    cursor: pointer;
}
.boxes-2 .box-2{
    background: hsl(7, 99%, 70%);
}
.boxes-3{
    display: flex;
    width:100%;
}
.boxes-3 .img-1{
    background-image: url('images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 80vh;
    width: 50%;
}
.boxes-3 .img-2{
    background-image: url('images/desktop/image-photography.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    height:80vh;
    width: 50%;
}
.boxes-3 .img-1 p,
.boxes-3 .img-2 p{
    width: 80%;
    position: relative;
    padding: 15px;
    margin: 10px;
    top: 50%;
    text-align: center;
    align-items: center;
    left: 10%;
}                                           
.boxes-3 .img-1 h1,
.boxes-3 .img-1 p{
    position: relative;
    padding: 15px;
    top: 50%;
    text-align: center;
    color: hsl(167, 40%, 24%);
    align-items: center;
    
}
.boxes-3 .img-2 h1,
.boxes-3 .img-2 p{
    position: relative;
    padding: 15px;
    top: 50%;
    text-align: center;
    color: hsl(198, 62%, 26%);
}
.flex-2 h2{
    text-align: center;
    margin-top: 20px;
    color: hsl(210, 4%, 67%);
}
.clients{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 30px;
    text-align: center;
}
.clients img{
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.clients p{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}
.flex-3 {
    display: flex;
    width: 100%;
}
.flex-4{
    background: hsl(168, 34%, 41%);
    text-align: center;
}
.flex-4 #logo{
    color:hsl(168, 34%, 41%);
    margin-top: 20px;
}
.flex-4 ul{
    display: flex;
    justify-content: center;
}
.flex-4 ul li{
    padding: 10px;
    list-style: none;
    margin-top: 20px;
    cursor: pointer;
}

@media(max-width: 768px) {
.container{
    width: 100%;
}
.header{
    background-image: url("images/mobile/image-header.jpg");
}
.nav-bar .mobile{
    display: block;
}
.nav-bar .mobile .menu {
  display: none;
}
.nav-bar .mobile .menu ul li{
    display: block;
}
.nav-bar ul li{
    display: none;
}
.header .main h1{
    font-size: 65px;
    letter-spacing: 10px;
    color: #fff;
    font-family: 'Fraunces';
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
 .boxes {
    display: flex;
    flex-direction: column-reverse;
 }
 .box-1{
    width: 55%;
    height: 50%;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: auto;
    padding-top: 10px;
    margin-top: 30px;
}
.box-1 h1{
    font-weight: 900;
    font-family: 'Fraunces';
}
.box-1 p{
    font-size: 20px;
}
.box-2{
    height: 50%;
}
.box-2 img{
    width: 100%;
}
.boxes-2{
    display: flex;
    flex-direction: column;
}
.boxes-3{
    display: flex;
    flex-direction: column;
}
.boxes-3 .img-1,
.boxes-3 .img-2{
    width: 100%;
}
.clients{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}
.clients p{
    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-size: 14px;
}
.flex-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.flex-3 img{
    width: 100%;
    height: 50vh;
}
}


    